In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import requests

twitter_dataset_url = "https://raw.githubusercontent.com/mitjat/langid_eval/master/uniformly_sampled.tsv"
twitter_dataset = 'uniformly_sampled.tsv'

In [6]:
import os 
if twitter_dataset not in os.listdir('.'): 
    r = requests.get(twitter_dataset_url)
    tweets = None
    if r.status_code == 200: 
        tweets = r.text

In [8]:
# data is just text: needs massaging
tweets[:100]

u'ar\t483762194908479488\nar\t483762916097654784\nar\t483764454283558912\nar\t483764828784582656\nar\t483765526'

In [11]:
lines = tweets.split('\n')
langs = []
ids = []
tweet_data = []
for l in lines: 
    l = l.strip()
    if l is None: 
        continue
    parts = l.split('\t')
    if len(parts) == 2:
        langs.append(parts[0])
        ids.append(parts[1])
tweet_data = zip(langs, ids)

In [12]:
tweet_data[:10]

[(u'ar', u'483762194908479488'),
 (u'ar', u'483762916097654784'),
 (u'ar', u'483764454283558912'),
 (u'ar', u'483764828784582656'),
 (u'ar', u'483765526683209728'),
 (u'ar', u'483768342315282432'),
 (u'ar', u'483770689933946880'),
 (u'ar', u'483770765985083392'),
 (u'ar', u'483770900127285248'),
 (u'ar', u'483770997892345857')]

In [14]:
df = pd.DataFrame(data=tweet_data, columns=['language', 'tweet_id'])
df.to_csv(twitter_dataset, index=False, header=False)

In [15]:
# inspect data
df

       language            tweet_id
0            ar  483762194908479488
1            ar  483762916097654784
2            ar  483764454283558912
3            ar  483764828784582656
4            ar  483765526683209728
5            ar  483768342315282432
6            ar  483770689933946880
7            ar  483770765985083392
8            ar  483770900127285248
9            ar  483770997892345857
10           ar  483773690769702912
11           ar  483773756897124352
12           ar  483774772115820544
13           ar  483777578163908609
14           ar  483780914452111360
15           ar  483781125006163968
16           ar  483782119827582977
17           ar  483782693868433408
18           ar  483783499174772736
19           ar  483783505445265409
20           ar  483790646176935936
21           ar  483791286831300608
22           ar  483793769079123971
23           ar  483796613656109056
24           ar  483796979063848960
25           ar  483798014239072256
26           ar  483799673044344832
27           ar  483802793459736576
28           ar  483805955852107776
29           ar  483807295134900224
...         ...                 ...
120541    zh-CN  494068544120705025
120542    zh-CN  494331450800361473
120543    zh-CN  494407502180929538
120544    zh-CN  494627004973465601
120545    zh-CN  494730046020403200
120546    zh-TW  483849852225196032
120547    zh-TW  484245222742704128
120548    zh-TW  484328282582577152
120549    zh-TW  484672019091300352
120550    zh-TW  484996827121344512
120551    zh-TW  485425542129131522
120552    zh-TW  486035976079147009
120553    zh-TW  486303247766802432
120554    zh-TW  486841789866070016
120555    zh-TW  486899420798009344
120556    zh-TW  488630113211518976
120557    zh-TW  489697736854634496
120558    zh-TW  490149224416174081
120559    zh-TW  490514766029279233
120560    zh-TW  490667138081099776
120561    zh-TW  491155187755515904
120562    zh-TW  491992347278725120
120563    zh-TW  492349820346974209
120564    zh-TW  493132254579675138
120565    zh-TW  493381795287531520
120566    zh-TW  493643635632930816
120567    zh-TW  494059705564553216
120568    zh-TW  494650331528433666
120569    zh-TW  494951142968029184
120570       zu  484586108282736641

[120571 rows x 2 columns]

In [16]:
df.describe()

       language tweet_id
count    120571   120571
unique       84   120511
top          en        0
freq      37817       61

In [22]:
# this means that: 
# num unique language classes: 84 -- including "und"
# num ids : 120571 -- and they both match up, so we massaged the data properly
# most freq lang: en -- to be expected
# most freq tweet_id: 0 -- hmm...

In [21]:
# it's strange that the most frequent tweet_id is 0
# so we should check that 
df.loc[df['tweet_id'] == '0']

       language tweet_id
5324         en        0
43141        es        0
43142        es        0
43143        es        0
43144        es        0
43145        es        0
43146        es        0
43147        es        0
43148        es        0
43149        es        0
43150        es        0
43151        es        0
43152        es        0
43153        es        0
43154        es        0
43155        es        0
53803        fr        0
53804        fr        0
55882        id        0
55883        id        0
55884        id        0
55885        id        0
55886        id        0
55887        id        0
55888        id        0
55889        id        0
55890        id        0
55891        id        0
55892        id        0
62126        ja        0
...         ...      ...
62128        ja        0
62129        ja        0
93863   ja_LATN        0
96770        pt        0
96771        pt        0
96772        pt        0
96773        pt        0
96774        pt        0
96775        pt        0
96776        pt        0
102462       ru        0
102463       ru        0
102464       ru        0
102465       ru        0
102466       ru        0
107753       tr        0
107754       tr        0
110036      und        0
110037      und        0
110038      und        0
110039      und        0
110040      und        0
110041      und        0
110042      und        0
110043      und        0
110044      und        0
110045      und        0
110046      und        0
110047      und        0
110048      und        0

[61 rows x 2 columns]

In [28]:
# we should probably remove those because they seem like bad data
# and we want to download the tweets properly
# see: http://pandas.pydata.org/pandas-docs/stable/10min.html#min
df[df.tweet_id != '0'].count()

language    120510
tweet_id    120510
dtype: int64

In [29]:
# this looks about right, so we put it into a new clean frame
df_cleaned = df[df.tweet_id != '0']

In [31]:
cleaned_file = 'twitter_cleaned_uniformly_sampled.tsv'
df_cleaned.to_csv(cleaned_file, sep='\t')

In [ ]:
#
# Now we deal with downloading the tweets 
# Since this involves OAuth, we'll do this offline 
# And upload the data later
#